@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-primary: #4F46E5;
  --color-secondary: #9333EA;
  --color-dark: #111827;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: white; /* Force white background */
}